*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}
html{
  width: 100%;
  height: 100%;
}
.content-box{
  width: 100px;
  height: 100px;
  margin: 20px 0px 0px 10px;
  float: left;
}
.content-box img{
  width: 65px;
  height: 65px;
  margin: 0px 17.5px 5px 17.5px;
}
.content-box p{
  width: 100px;
  text-align: center;
  color: #424242;
  font-size: 13px;
  margin: 0;
}
.content-right{
  width: 250px;
  float: left;
  padding: 50px 0px 30px 50px;
}
.content-left{
  width: 250px;
  float: left;
  padding: 50px 30px 30px 30px;
}
.content-right img{
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.content-right p{
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  width: 180px;
}
.content-left p{
  font-size: 14px;
  margin-top: 9px;
  margin-left: -25px;
}
.content-left ul{
  margin-left: 30px;
}
.content-left ul li{
  font-size: 13px;
  margin: 5px 0px;
}