*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
html { 
    background: url(../img/menu/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.folder-box{
    width: 245px;
    height: 100%;
}
.folder-box .folder{
    width: 100px;
    height: 100px;
    float: left;
}
.folder-box .folder:hover{
    background-color: rgb(0,0,0,0.15);
    cursor: pointer;
}
.folder-box .folder img{
    width: 60px;
    height: 60px;
    margin: 10px 20px 0px 20px;
}
.folder-box .folder p{
    width: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    font-size: 13px;
}
.modal{
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
}
.content{
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 0px 0px 10px 0.5px #aaaaaa;
    border-radius: 10px;
}
.content .content-header{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #888888;
    border-radius: 10px 10px 0px 0px;
}
.content .content-header p{
    text-align: center;
    line-height: 40px;
}
.content .content-header i{
    float: right;
    width: 15px;
    height: 15px;
    margin: 12px;
    margin-top: -27px;
}
.content .content-header i:hover{
    cursor: pointer;
    color: #888888;
}
.content .content-nav{
    width: 150px;
    height: 360px;
    border-right: 1px solid #888888;
    float: left;
}
.content .content-nav ul li{
    list-style: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #424242;
}
.content .content-nav ul li:hover{
    cursor: pointer; 
    color: #000;
}
.content .content-nav ul li img{
    width: 17px;
    height: 17px;
    float: left;
    margin: 6px 10px;
}
.content .content-section{
    width: 100%;
}
.modal-python .python-box{
    display: none;
}