*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html { 
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}